img{
    max-width: 100%;
    max-height: 100%;
    margin-right: 20px;
    margin-left: 50px;
}

.container {
display: flex;
flex-direction: column;
margin: auto;
margin-top: 200px;
width: 600px;
background: #FE6F5E;
padding-bottom: 30px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100px;
    margin-top: 30px;
}

.text{
    color: #24ea3e;
    font-size: 20px;
    font-weight: 700;
}

.underline{
    width: 61px;
    height: 6px;
    background: #E44D2E;
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
display: flex;
align-items: center;
margin: auto;
width: 480px;
height: 80px;
background: white;
border-radius: 6px;
}

.input img{
    margin: 0px 30px;
}

.input input{
height: 50px;
width: 400px;
background-color: transparent;
border: none;
outline: none;
color: #733635;
font-size: 19px;

}

.forget-password{
    padding-left: 62px;
    margin-top: 27px;
    color:#733635;
    font-size: 18px;
}

.forget-password span{
    color: #8A2BE2;
    cursor: pointer;
}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;

}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: white;
    background: #8F00FF;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor:pointer;

}